In [10]:
import pandas as pd

path_root = "C:/Users/deca761/OneDrive - PNNL/Documents/"
path_data = "work items/projects db/"

In [20]:
devices = pd.read_csv(f'{path_root}{path_data}devices.csv')
organizations = pd.read_csv(f'{path_root}{path_data}organizations.csv')
projects = pd.read_csv(f'{path_root}{path_data}projects.csv')
test_sites = pd.read_csv(f'{path_root}{path_data}test_sites.csv')

In [22]:
devices

,Name,Website,Description,Device Status,Technology Developer,Resource,Technology Type,Water Column,Surface Expression,Power Take Off,Max Rated Power (KW),Estimated TRL,Date of Estimated TRL
0,PRIMRE/Databases/Projects Database/Devices/40 ...,NaN,NaN,Inactive,40 South Energy,Wave,Point Absorber,Submerged - Mid,Submerged,Alternative PTO,400.0,4.0,31 January 2014
1,PRIMRE/Databases/Projects Database/Devices/650...,https://iopscience.iop.org/article/10.1088/175...,NaN,NaN,NaN,Tidal,Current Energy,Surface,Visible,NaN,650.0,NaN,NaN
2,PRIMRE/Databases/Projects Database/Devices/AMO...,https://www.amog.consulting/renewable-energy/a...,NaN,Active,Australian Marine Offshore Group,Wave,Point Absorber,Surface,Visible,Hydraulic Generator,2000.0,5.0,28 August 2023
3,PRIMRE/Databases/Projects Database/Devices/AND...,https://www.andritz.com/products-en/hydro/prod...,NaN,Active,ANDRITZ Hydro,Tidal,Axial Flow Turbine,Submerged - Bottom,Submerged,Hydro Turbine,1000.0,7.0,14 March 2024
4,PRIMRE/Databases/Projects Database/Devices/AND...,NaN,NaN,Inactive,ANDRITZ Hydro,Ocean Current,Axial Flow Turbine,Submerged - Bottom,Submerged,Direct Drive Generator,2000.0,7.0,9 May 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,PRIMRE/Databases/Projects Database/Devices/Wel...,https://wello.eu/the-penguin-2/,NaN,Active,Wello Oy,Wave,Point Absorber,Surface,Visible,Direct Drive Generator,1000.0,9.0,22 December 2021
327,PRIMRE/Databases/Projects Database/Devices/XCT-1,https://www.energy.gov/sites/default/files/202...,NaN,Active,Littoral Power Systems Inc,Ocean Current,Current Energy,NaN,NaN,Hydraulic Generator,72.7,NaN,NaN
328,PRIMRE/Databases/Projects Database/Devices/Yon...,NaN,NaN,Active,Korea Institute of Ocean Science and Technology,Wave,Oscillating Water Column,Entire,Visible,Air Turbine,500.0,8.0,1 July 2016
329,PRIMRE/Databases/Projects Database/Devices/You...,https://www.yourbrookenergy.com/our-technology,NaN,Active,Yourbrook Energy Systems Ltd,Tidal,Axial Flow Turbine,Surface,Visible,Hydraulic Generator,NaN,3.0,NaN
330,PRIMRE/Databases/Projects Database/Devices/Zho...,http://english.giec.cas.cn/ns/tn/202007/t20200...,NaN,Active,Guangzhou Institute of Energy Conversion,Wave,Oscillating Wave Surge Converter,Surface,Visible,Hydraulic Generator,500.0,7.0,30 June 2020

In [21]:
organizations

,Name,Type,Sector,Country,Year Founded,Number of Employees,Website,Phone Number
0,40 South Energy,Technology Developer,"Marine Energy,Renewable Energy",Italy,2008.0,NaN,http://www.40southenergy.it,(+44) 20 7016 7822
1,48 North Solutions,NaN,"Marine Energy,Renewable Energy",United States,2014.0,2-10,http://www.48northsolutions.com/,(206) 714-5474
2,4c Engineering Consultancy,"Project Manager,Technology Developer","Marine Energy,Renewable Energy",United Kingdom,2002.0,2-10,http://www.4cengineering.co.uk/,01463 227 565
3,ANDRITZ Hydro,Technology Developer,"Hydropower,Marine Energy,Renewable Energy",Austria,1997.0,2-10,https://www.andritz.com/hydro-en,0141 585 6447
4,ATA Engineering,Technology Developer,"Marine Energy,Renewable Energy",United States,2000.0,51-200,http://www.ata-e.com/,858.480.2000
...,...,...,...,...,...,...,...,...
415,Wedge Global SL,"Project Manager,Technology Developer","Marine Energy,Renewable Energy",Spain,2008.0,20,https://www.wedgeglobal.com/,NaN
416,Wello Oy,Technology Developer,"Marine Energy,Renewable Energy",Finland,2008.0,11-50,https://wello.eu/,+358 9 888 4881
417,Weptos,Technology Developer,"Marine Energy,Renewable Energy",Denmark,1991.0,NaN,http://www.weptos.com/,+457 026 0140
418,Yourbrook Energy Systems Ltd,Technology Developer,"Marine Energy,Renewable Energy",Canada,2010.0,NaN,https://www.yourbrookenergy.com/,+1 (250) 637-1279
419,Zhejiang University,Academic Institutions,"Marine Energy,Renewable Energy",China,1897.0,NaN,https://www.zju.edu.cn/english/,+86 571 8820 6236

In [25]:
len(devices['Technology Developer'].unique())

260