# Demo

Demonstration of primrea functionality

### Setup

In [1]:
import pandas as pd
import primrea.core

### Available Tables

In [2]:
primre_metadata = primrea.core.primrea_data()

In [19]:
primre_metadata.tethys_dataframe

,URI,type,landingPage,sourceURL,title,description,author,organization,originationDate,spatial,technologyType,tags,modifiedDate,signatureProject,attachment
0,https://tethys.pnnl.gov/node/499,"[Document, Document/Journal Article]",https://tethys.pnnl.gov/publications/marine-re...,https://www.mdpi.com/1996-1073/10/10/1512/htm,Marine Renewable Energy in the Mediterranean S...,"In this work, an extended overview of the mari...","[Soukissian, T., Denaxa, D., Karathanasi, F., ...","[Hellenic Centre for Marine Research (HCMR), N...",2017-09-29,[],[],"[Environment, Human Dimensions]",2024-01-22 09:24:45,[],[]
1,https://tethys.pnnl.gov/node/500,"[Document, Document/Report]",https://tethys.pnnl.gov/publications/port-fair...,http://bps.energy/projects,The Port Fairy Pilot Wave Energy Project Envir...,This Environmental Management Plan (EMP) detai...,[BioPower Systems],[BioPower Systems],2016-02-09,"{'coordinates': ['-38.398417000000', '142.1726...",[Wave],"[Environment, Environmental Impact Assessment]",2024-01-22 09:24:45,[],[https://tethys.pnnl.gov/sites/default/files/p...
2,https://tethys.pnnl.gov/node/501,"[Document, Document/Journal Article]",https://tethys.pnnl.gov/publications/baseline-...,https://www.sciencedirect.com/science/article/...,Baseline assessment of underwater noise in the...,The Ria Formosa is a sheltered large coastal l...,"[Soares, C., Pacheco, A., Zabel, F., González-...",[Marine Sensing and Acoustic Technologies (Mar...,2020-01-10,"{'coordinates': ['36.972554000000', '-7.870570...","[Current, Current/Tidal]","[Environment, Noise]",2024-01-22 09:24:45,[],[]
3,https://tethys.pnnl.gov/node/502,"[Document, Document/Journal Article]",https://tethys.pnnl.gov/publications/assessing...,https://www.sciencedirect.com/science/article/...,Assessing the consistency of in-stream tidal e...,"The provincial government of Nova Scotia, Cana...","[Carlson, J., Adams, M.]","[Queens University, Dalhousie University]",2020-03-01,"{'coordinates': ['45.166454000000', '-63.06410...","[Current, Current/Tidal]","[Environment, Human Dimensions, Legal & Policy]",2024-01-22 09:24:45,[],[]
4,https://tethys.pnnl.gov/node/503,"[Document, Document/Report]",https://tethys.pnnl.gov/publications/wave-ener...,https://publications.csiro.au/rpr/pub?pid=csir...,Wave Energy Deployments Physical Impact Guidel...,Australia’s wave energy resource has been asse...,"[McInnes, K., Hemer, M., O'Grady, J., Hoeke, R...",[Commonwealth Scientific and Industrial Resear...,2018-02-14,"{'coordinates': ['-32.203436000000', '115.6775...",[Wave],"[Environment, Physical Environment, Changes in...",2024-01-22 09:24:45,[],[https://tethys.pnnl.gov/sites/default/files/p...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4241,https://tethys.pnnl.gov/node/2078965,"[Document, Document/Journal Article]",https://tethys.pnnl.gov/publications/environme...,https://iopscience.iop.org/article/10.1088/174...,Environmental impacts from large scale offshor...,The urgency to mitigate the effects of climate...,"[Ouro, P., Fernandez, R, Armstrong, A., Brooks...","[University of Manchester, Cardiff University,...",2024-05-16,[],"[Current, Current/Tidal, Wave]","[Environment, Birds, Fish, Marine Mammals, Cet...",2024-05-30 11:47:01,[],[https://tethys.pnnl.gov/sites/default/files/p...
4242,https://tethys.pnnl.gov/node/2078973,"[Document, Document/Report]",https://tethys.pnnl.gov/publications/cultural-...,https://blueeconomycrc.com.au/project/cultural...,Cultural Licence to Operate in the Blue Econom...,In an era of heightened awareness of environme...,"[Hunter, C., Lee, E., Wood, W., Marsh, A., Fis...",[Blue Economy Cooperative Research Centre (CRC)],2024-04-01,[],[],"[Environment, Human Dimensions, Environmental ...",2024-05-31 07:07:53,[],[https://tethys.pnnl.gov/sites/default/files/p...
4243,https://tethys.pnnl.gov/node/2078986,"[Document, Document/Journal Article]",https://tethys.pnnl.gov/publications/local-reg...,https://www.sciencedirect.com/science/article/...,Local and regional interactions between tidal ...,An extended three-dimensional unstructured oce...,"[Li, X, Li, M., Wolf, J., Williams, A., Badoe,...","[University of Liverpool, Swansea University, ...",2024-05-20,"{'coordinates': ['53.827700000000', '4.4658000...","[Current, Current/Tidal]","[Environment, Physical Environment, Sediment T...",2024-06-03 07:44:18,[],[]
4244,https://tethys.pnnl.gov/node/2079006,"[Document, Document/Report]",https://tethys.pnnl.gov/publications/country-s...,,Country-Specific Guidance Document: Ireland,The guidance documents are intended to be avai...,[OES-Environmental],[Pacific Northwest National Laboratory (PNNL)],2024-06-04,"{'coordinates': ['53.349800000000', '-6.260300...",[],[Environment],2024-06-04 09:50:20,[],[https://tethys.pnnl.gov/sites/default/files/p...
4245,https://tethys.pnnl.gov/node/2079010,"[Document, Document/Thesis]",https://tethys.pnnl.gov/publications/understan...,,Understanding seabird and marine mammal occupa...,Many seabirds and marine mammal populations ac...,"[Brown, K.]",[Bangor University],2021-09-01,"{'coordinates': ['60.665164000000', '-0.961364...","[Current, Current/Tidal]","[Environment, Birds, Marine Mammals, Displacem...",2024-06-05 05:29:27,[],[https://tethys.pnnl.gov/sites/default/files/p...

### Basic Analysis

In [9]:
tethys_authors = primre_metadata.tethys_authors

In [10]:
tethys_authors

       entry_id               author
0           499       Soukissian, T.
1           499           Denaxa, D.
2           499      Karathanasi, F.
3           499  Prospathopoulos, A.
4           499       Sarantakos, K.
...         ...                  ...
15875   2078986         Williams, A.
15876   2078986             Badoe, C
15877   2078986          Masters, I.
15878   2079006    OES-Environmental
15879   2079010            Brown, K.

[15880 rows x 2 columns]

In [11]:
tethys_authors_unique = list(tethys_authors['author'].unique())
len(tethys_authors_unique)

8429

In [12]:
author_associations = tethys_authors['author'].value_counts().reindex(tethys_authors['author'].unique()).tolist()

In [13]:
author_associations_df = pd.DataFrame({'author':tethys_authors_unique, 'associations':author_associations})

In [14]:
author_associations_df

                   author  associations
0          Soukissian, T.             6
1              Denaxa, D.             1
2         Karathanasi, F.             2
3     Prospathopoulos, A.             2
4          Sarantakos, K.             1
...                   ...           ...
8424            Marsh, A.             1
8425          Fischer, M.             1
8426                Li, X             1
8427             Badoe, C             1
8428            Brown, K.             1

[8429 rows x 2 columns]

In [15]:
author_associations_df['associations'].max()

109

In [16]:
author_associations_df[author_associations_df['associations']==109]

          author  associations
100  Copping, A.           109

In [17]:
author_associations_df.sort_values('associations', ascending=False)[:10]

           author  associations
100   Copping, A.           109
267   Polagye, B.            48
65      Scott, B.            47
83   Iglesias, G.            42
213    Hastie, G.            41
114   Freeman, M.            41
293   Roberts, J.            40
299  Sparling, C.            40
366      Bald, J.            39
628   O'Hagan, A.            38